.disabled {
    box-shadow: none !important;
    border: none !important;
}

.disabled[readonly] {
    background-color: white !important;
}

input[disabled] {
    background-color: white !important;
    box-shadow: none !important;
    border: none !important;
}

.container-fluid {
    padding-top: 115px !important;
}

table > thead > tr > td > input {
    font-weight: bold !important;
}

#status > .alert {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

* {
    border-radius: 2px !important;
}

.code {
    font-family: Menlo, Consolas, monospace;
    background: #2d2d2d;
    color: white;
    resize: vertical;
}

.toolbar {
    width: 50%;
    display: inline-block;
}

.delete {
    float: right;
}

.btn {
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    border: 3px solid transparent;
    border-radius: 2px;
}

.navbar-inverse {
    background-color: #BADA55;
}

.navbar-inverse .navbar-brand {
    color: black;
    text-transform: lowercase;
}

.navbar-inverse .navbar-nav>li>a {
    color: black;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
}

.alert-warning {
    background-color: #da5578;
    color: white;
}

.alert-danger {
    background-color: #b655da;
    color: white;
}

.alert-success {
    background-color: #bada55;
    color: black;
}

.btn-toxic-warning {
    background-color: #da5578;
    color: white;
}

.btn-toxic-danger {
    background-color: #b655da;
    color: white;
}

.btn-toxic-primary {
    background-color: #bada55;
    color: black;
}

.btn-toxic-success {
    background-color: #bada55;
    color: black;
}

.btn-toxic-lg {
    font-size: 23px;
    border-radius: 50% !important;
    width: 75px;
    height: 75px;
    box-shadow: 2px 2px 13px black;
}

.btn-toxic-warning:hover {
    background-color: #da5578;
    filter: brightness(95%);
    border-color: #da5578;
    color: white;
}

.btn-toxic-danger:hover {
    background-color: #b655da;
    filter: brightness(95%);
    border-color: #b655da;
    color: white;
}

.btn-toxic-primary:hover {
    background-color: #bada55;
    filter: brightness(95%);
    border-color: #bada55;
    color: black;
}

.btn-toxic-success:hover {
    background-color: #bada55;
    filter: brightness(95%);
    border-color: #bada55;
    color: black;
}

.btn-toxic-warning:focus {
    background-color: #da5578;
    filter: brightness(90%);
    border-color: #da5578;
    color: white;
}

.btn-toxic-danger:focus {
    background-color: #b655da;
    filter: brightness(90%);
    border-color: #b655da;
    color: white;
}

.btn-toxic-primary:focus {
    background-color: #bada55;
    filter: brightness(90%);
    border-color: #bada55;
    color: black;
}

.btn-toxic-success:focus {
    background-color: #bada55;
    filter: brightness(90%);
    border-color: #bada55;
    color: black;
}

.btn-toxic-warning:active {
    background-color: #da5578;
    filter: brightness(90%);
    border-color: #da5578;
    color: white;
}

.btn-toxic-danger:active {
    background-color: #b655da;
    filter: brightness(90%);
    border-color: #b655da;
    color: white;
}

.btn-toxic-primary:active {
    background-color: #bada55;
    filter: brightness(90%);
    border-color: #bada55;
    color: black;
}

.btn-toxic-success:active {
    background-color: #bada55;
    filter: brightness(90%);
    border-color: #bada55;
    color: black;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar {
    position: fixed;
    left: 5px;
    top: 106px;
    width: 15%;
}
.list-group-item > .glyphicon {
    padding: 2px;
}
.glyphicon.inactive {
    color: grey;
}
