.disabled {
    box-shadow: none !important;
    border: none !important;
}

.disabled[readonly] {
    background-color: white !important;
}

input[disabled] {
    background-color: white !important;
    box-shadow: none !important;
    border: none !important;
}

.container-fluid {
    padding-top: 65px !important;
}

table > thead > tr > td > input {
    font-weight: bold !important;
}

#status {
}

.code {
    font-family: Menlo, Consolas, monospace;
    background: #2d2d2d;
    color: white;
    resize: vertical;
}

.toolbar {
    width: 50%;
    display: inline-block;
}

.delete {
    float: right;
}
